<!--Footer-->
<footer class="bg-dark py-5 m-auto">
  <div class="row">
    <div class="col-3 text-center">
      <a href="../Engelsk/Home.html">
        <img src="../Pictures/Logo.webp" alt="Logo. Click for home page" class="logo" />
      </a>
    </div>
    <div class="col-8 text-end">
      <ul class="list-unstyled">
        <li class="list-item">
          <p><a href="../Engleks/Dojos.html" class="text-white link-bottom">Dojos</a></p>
        </li>
        <li class="list-item">
          <p><a href="../Engelsk/About.html" class="text-white link-bottom">About Bujinkan</a></p>
        </li>
        <li class="list-item">
          <p><a href="../Engelsk/Pictures.html" class="text-white link-bottom">Pictures</a></p>
        </li>
        <li class="list-item">
          <p><a href="../Engelsk/News.html" class="text-white link-bottom">News</a></p>
        </li>
        <li class="list-item">
          <p><a href="../Engelsk/Contact.html" class="text-white link-bottom">Contact Administrator</a></p>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <small class="text-white-50 text-center">&copy; Copyright by Budoskolen. All rights reserved</small>
  </div>
</footer>
