<!--Footer-->
<footer class="bg-dark py-5 m-auto">
  <div class="row">
    <div class="col-3 text-center">
      <a href="../Norsk/Hjem.html">
        <img src="../Pictures/Logo.webp" alt="Logo. Klikk for hjem" class="logo" />
      </a>
    </div>
    <div class="col-8 text-end">
      <ul class="list-unstyled">
        <li class="list-item">
          <p><a href="../Norsk/Dojos.html" class="text-white link-bottom">Dojos</a></p>
        </li>
        <li class="list-item">
          <p><a href="../Norsk/Om.html" class="text-white link-bottom">Om Bujinkan</a></p>
        </li>
        <li class="list-item">
          <p><a href="../Norsk/Bilder.html" class="text-white link-bottom">Bilder</a></p>
        </li>
        <li class="list-item">
          <p><a href="../Norsk/Nyheter.html" class="text-white link-bottom">Nyheter</a></p>
        </li>
        <li class="list-item">
          <p><a href="../Norsk/Kontakt.html" class="text-white link-bottom">Kontakt Sideadministrator</a></p>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <small class="text-white-50 text-center">&copy; Copyright by Budoskolen. All rights reserved</small>
  </div>
</footer>
